<a href="https://colab.research.google.com/github/Smitayan/Loan-Prediction/blob/master/Loan_prediction_using_NN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loan prediction problem using Keras

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'1.0.5'

In [ ]:
import os,sys

In [ ]:
os.getcwd()

'/content'

In [ ]:
traindata = pd.read_csv('traincopy.csv')

In [ ]:
traindata.head()

    Loan_ID Gender Married  ... Loan_Status TotalIncome       EMI
0  LP001002   Male      No  ...           Y    8.674026  0.357486
1  LP001003   Male     Yes  ...           N    8.714568  0.355556
2  LP001005   Male     Yes  ...           Y    8.006368  0.183333
3  LP001006   Male     Yes  ...           Y    8.505323  0.333333
4  LP001008   Male      No  ...           Y    8.699515  0.391667

[5 rows x 15 columns]

In [ ]:
testdata = pd.read_csv('testcopy.csv')

In [ ]:
testdata.head()

    Loan_ID Gender Married  ... Property_Area TotalIncome       EMI
0  LP001015   Male     Yes  ...         Urban    8.651724  0.305556
1  LP001022   Male     Yes  ...         Urban    8.428581  0.350000
2  LP001031   Male     Yes  ...         Urban    8.824678  0.577778
3  LP001035   Male     Yes  ...         Urban    8.494129  0.277778
4  LP001051   Male      No  ...         Urban    8.094378  0.216667

[5 rows x 14 columns]

In [ ]:
traindata.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
TotalIncome          0
EMI                  0
dtype: int64

In [ ]:
traindata.shape

(614, 15)

In [ ]:
testdata.shape

(367, 14)

In [ ]:
traindata.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
TotalIncome          float64
EMI                  float64
dtype: object

In [ ]:
traindata['Gender']=traindata['Gender'].map({'Male':1,'Female':0})

In [ ]:
traindata['Married']=traindata['Married'].map({'Yes':1,'No':0})

In [ ]:
traindata['Dependents']=traindata['Dependents'].map({'0':0,'1':1,'2':2,'3+':3})

In [ ]:
traindata['Education']=traindata['Education'].map({'Not Graduate':0,'Graduate':1})

In [ ]:
traindata['Self_Employed']=traindata['Self_Employed'].map({'Yes':1,'No':0})

In [ ]:
traindata['Property_Area']=traindata['Property_Area'].map({'Rural':0,'Semiurban':1,'Urban':2})

In [ ]:
traindata['Loan_Status']=traindata['Loan_Status'].map({'Y':1,'N':0})

In [ ]:
traindata.head()

    Loan_ID  Gender  Married  ...  Loan_Status  TotalIncome       EMI
0  LP001002       1        0  ...            1     8.674026  0.357486
1  LP001003       1        1  ...            0     8.714568  0.355556
2  LP001005       1        1  ...            1     8.006368  0.183333
3  LP001006       1        1  ...            1     8.505323  0.333333
4  LP001008       1        0  ...            1     8.699515  0.391667

[5 rows x 15 columns]

In [ ]:
testdata['Gender']=testdata['Gender'].map({'Male':1,'Female':0})
testdata['Married']=testdata['Married'].map({'Yes':1,'No':0})
testdata['Dependents']=testdata['Dependents'].map({'0':0,'1':1,'2':2,'3+':3})
testdata['Education']=testdata['Education'].map({'Not Graduate':0,'Graduate':1})
testdata['Self_Employed']=testdata['Self_Employed'].map({'Yes':1,'No':0})
testdata['Property_Area']=testdata['Property_Area'].map({'Rural':0,'Semiurban':1,'Urban':2})

In [ ]:
testdata.head()

    Loan_ID  Gender  Married  ...  Property_Area  TotalIncome       EMI
0  LP001015       1        1  ...              2     8.651724  0.305556
1  LP001022       1        1  ...              2     8.428581  0.350000
2  LP001031       1        1  ...              2     8.824678  0.577778
3  LP001035       1        1  ...              2     8.494129  0.277778
4  LP001051       1        0  ...              2     8.094378  0.216667

[5 rows x 14 columns]

In [ ]:
traindata = traindata.drop('Loan_ID',axis=1)

In [ ]:
traindata.shape

(614, 14)

In [ ]:
testdata = testdata.drop('Loan_ID',axis=1)

In [ ]:
traindata=(traindata-traindata.min())/(traindata.max()-traindata.min())

In [ ]:
testdata=(testdata-testdata.min())/(testdata.max()-testdata.min())

In [ ]:
traindata.head()

   Gender  Married  Dependents  ...  Loan_Status  TotalIncome       EMI
0     1.0      0.0    0.000000  ...          1.0     0.347590  0.036042
1     1.0      1.0    0.333333  ...          0.0     0.357654  0.035833
2     1.0      1.0    0.000000  ...          1.0     0.181853  0.017164
3     1.0      1.0    0.000000  ...          1.0     0.305712  0.033424
4     1.0      0.0    0.000000  ...          1.0     0.353918  0.039747

[5 rows x 14 columns]

In [ ]:
import sklearn

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.metrics import auc

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
import keras

Using TensorFlow backend.

In [ ]:
Y=traindata['Loan_Status']
X=traindata.drop('Loan_Status',axis=1)

In [ ]:
X_train,X_validation,Y_train,Y_validation=train_test_split(X,Y,test_size=0.2,random_state=10,stratify=traindata['Loan_Status'])

In [ ]:
X_train.shape

(491, 13)

In [ ]:
X_validation.shape

(123, 13)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import InputLayer

In [ ]:
X_train.shape[1]

13

In [ ]:
input_neurons = X_train.shape[1]
output_neurons = 1
number_of_hidden_layers=2
number_of_neurons_1=5
number_of_neurons_2=5

In [ ]:
model = Sequential()
model.add(InputLayer(input_shape=(input_neurons,)))
model.add(Dense(number_of_neurons_1,activation='relu'))
model.add(Dense(number_of_neurons_2,activation='relu'))
model.add(Dense(output_neurons,activation='sigmoid'))

In [ ]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 5)                 70
_________________________________________________________________
dense_2 (Dense)              (None, 5)                 30
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 6
=================================================================
Total params: 106
Trainable params: 106
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
model.history=model.fit(X_train,Y_train,validation_data=(X_validation,Y_validation),epochs=50)

Train on 491 samples, validate on 123 samples
Epoch 1/50
491/491 [==============================] - 0s 726us/step - loss: 0.8198 - accuracy: 0.2648 - val_loss: 0.7979 - val_accuracy: 0.2276
Epoch 2/50
491/491 [==============================] - 0s 57us/step - loss: 0.7657 - accuracy: 0.3340 - val_loss: 0.7478 - val_accuracy: 0.4309
Epoch 3/50
491/491 [==============================] - 0s 59us/step - loss: 0.7235 - accuracy: 0.4725 - val_loss: 0.7092 - val_accuracy: 0.5447
Epoch 4/50
491/491 [==============================] - 0s 48us/step - loss: 0.6901 - accuracy: 0.5906 - val_loss: 0.6860 - val_accuracy: 0.6260
Epoch 5/50
491/491 [==============================] - 0s 48us/step - loss: 0.6708 - accuracy: 0.6436 - val_loss: 0.6701 - val_accuracy: 0.6504
Epoch 6/50
491/491 [==============================] - 0s 47us/step - loss: 0.6589 - accuracy: 0.6578 - val_loss: 0.6608 - val_accuracy: 0.6829
Epoch 7/50
491/491 [==============================] - 0s 48us/step - loss: 0.6513 - accuracy: 0.6802 - val_loss: 0.6546 - val_accuracy: 0.6748
Epoch 8/50
491/491 [==============================] - 0s 49us/step - loss: 0.6467 - accuracy: 0.6823 - val_loss: 0.6491 - val_accuracy: 0.6829
Epoch 9/50
491/491 [==============================] - 0s 48us/step - loss: 0.6427 - accuracy: 0.6884 - val_loss: 0.6451 - val_accuracy: 0.6829
Epoch 10/50
491/491 [==============================] - 0s 51us/step - loss: 0.6398 - accuracy: 0.6904 - val_loss: 0.6416 - val_accuracy: 0.6829
Epoch 11/50
491/491 [==============================] - 0s 47us/step - loss: 0.6368 - accuracy: 0.6904 - val_loss: 0.6390 - val_accuracy: 0.6829
Epoch 12/50
491/491 [==============================] - 0s 54us/step - loss: 0.6345 - accuracy: 0.6904 - val_loss: 0.6365 - val_accuracy: 0.6829
Epoch 13/50
491/491 [==============================] - 0s 51us/step - loss: 0.6323 - accuracy: 0.6904 - val_loss: 0.6344 - val_accuracy: 0.6911
Epoch 14/50
491/491 [==============================] - 0s 51us/step - loss: 0.6303 - accuracy: 0.6904 - val_loss: 0.6323 - val_accuracy: 0.6911
Epoch 15/50
491/491 [==============================] - 0s 51us/step - loss: 0.6288 - accuracy: 0.6884 - val_loss: 0.6305 - val_accuracy: 0.6911
Epoch 16/50
491/491 [==============================] - 0s 54us/step - loss: 0.6269 - accuracy: 0.6884 - val_loss: 0.6294 - val_accuracy: 0.6911
Epoch 17/50
491/491 [==============================] - 0s 55us/step - loss: 0.6256 - accuracy: 0.6884 - val_loss: 0.6282 - val_accuracy: 0.6911
Epoch 18/50
491/491 [==============================] - 0s 46us/step - loss: 0.6245 - accuracy: 0.6884 - val_loss: 0.6270 - val_accuracy: 0.6911
Epoch 19/50
491/491 [==============================] - 0s 50us/step - loss: 0.6236 - accuracy: 0.6884 - val_loss: 0.6260 - val_accuracy: 0.6911
Epoch 20/50
491/491 [==============================] - 0s 54us/step - loss: 0.6225 - accuracy: 0.6884 - val_loss: 0.6252 - val_accuracy: 0.6911
Epoch 21/50
491/491 [==============================] - 0s 54us/step - loss: 0.6216 - accuracy: 0.6884 - val_loss: 0.6245 - val_accuracy: 0.6911
Epoch 22/50
491/491 [==============================] - 0s 51us/step - loss: 0.6206 - accuracy: 0.6864 - val_loss: 0.6238 - val_accuracy: 0.6911
Epoch 23/50
491/491 [==============================] - 0s 51us/step - loss: 0.6195 - accuracy: 0.6864 - val_loss: 0.6232 - val_accuracy: 0.6911
Epoch 24/50
491/491 [==============================] - 0s 49us/step - loss: 0.6187 - accuracy: 0.6864 - val_loss: 0.6225 - val_accuracy: 0.6911
Epoch 25/50
491/491 [==============================] - 0s 49us/step - loss: 0.6177 - accuracy: 0.6864 - val_loss: 0.6221 - val_accuracy: 0.6911
Epoch 26/50
491/491 [==============================] - 0s 49us/step - loss: 0.6160 - accuracy: 0.6864 - val_loss: 0.6215 - val_accuracy: 0.6911
Epoch 27/50
491/491 [==============================] - 0s 51us/step - loss: 0.6138 - accuracy: 0.6864 - val_loss: 0.6202 - val_accuracy: 0.6911
Epoch 28/50
491/491 [==============================] - 0s 48us/step - loss: 0.6112 - accuracy: 0.6864 - val_loss: 0.6180 - val_accuracy: 0.6911
Epoch 29/50
491/491 [==============================] - 0s 48us/step - loss: 0.6073 - accuracy: 0.6884 - val_loss: 0.6152 - val_accuracy: 0.6911
Epoch 30/50
491/491 [==============================] - 0s 47us/step - loss: 0.6027 - accuracy: 0.6904 - val_loss: 0.6114 - val_accuracy: 0.6911
Epoch 31/50
491/491 [==============================] - 0s 46us/step - loss: 0.5973 - accuracy: 0.6904 - val_loss: 0.6076 - val_accuracy: 0.6911
Epoch 32/50
491/491 [==============================] - 0s 52us/step - loss: 0.5921 - accuracy: 0.6904 - val_loss: 0.6033 - val_accuracy: 0.6911
Epoch 33/50
491/491 [==============================] - 0s 51us/step - loss: 0.5865 - accuracy: 0.6884 - val_loss: 0.5988 - val_accuracy: 0.6911
Epoch 34/50
491/491 [==============================] - 0s 49us/step - loss: 0.5808 - accuracy: 0.6904 - val_loss: 0.5939 - val_accuracy: 0.6992
Epoch 35/50
491/491 [==============================] - 0s 50us/step - loss: 0.5748 - accuracy: 0.7047 - val_loss: 0.5885 - val_accuracy: 0.7073
Epoch 36/50
491/491 [==============================] - 0s 51us/step - loss: 0.5702 - accuracy: 0.7169 - val_loss: 0.5838 - val_accuracy: 0.7154
Epoch 37/50
491/491 [==============================] - 0s 47us/step - loss: 0.5615 - accuracy: 0.7210 - val_loss: 0.5776 - val_accuracy: 0.7154
Epoch 38/50
491/491 [==============================] - 0s 47us/step - loss: 0.5543 - accuracy: 0.7230 - val_loss: 0.5723 - val_accuracy: 0.7236
Epoch 39/50
491/491 [==============================] - 0s 46us/step - loss: 0.5460 - accuracy: 0.7475 - val_loss: 0.5653 - val_accuracy: 0.7236
Epoch 40/50
491/491 [==============================] - 0s 49us/step - loss: 0.5377 - accuracy: 0.7597 - val_loss: 0.5585 - val_accuracy: 0.7398
Epoch 41/50
491/491 [==============================] - 0s 46us/step - loss: 0.5308 - accuracy: 0.7739 - val_loss: 0.5529 - val_accuracy: 0.7480
Epoch 42/50
491/491 [==============================] - 0s 49us/step - loss: 0.5237 - accuracy: 0.7841 - val_loss: 0.5489 - val_accuracy: 0.7398
Epoch 43/50
491/491 [==============================] - 0s 50us/step - loss: 0.5179 - accuracy: 0.7963 - val_loss: 0.5433 - val_accuracy: 0.7805
Epoch 44/50
491/491 [==============================] - 0s 53us/step - loss: 0.5123 - accuracy: 0.8065 - val_loss: 0.5389 - val_accuracy: 0.7805
Epoch 45/50
491/491 [==============================] - 0s 48us/step - loss: 0.5074 - accuracy: 0.8126 - val_loss: 0.5337 - val_accuracy: 0.7805
Epoch 46/50
491/491 [==============================] - 0s 47us/step - loss: 0.5031 - accuracy: 0.8126 - val_loss: 0.5296 - val_accuracy: 0.7805
Epoch 47/50
491/491 [==============================] - 0s 50us/step - loss: 0.4980 - accuracy: 0.8147 - val_loss: 0.5256 - val_accuracy: 0.7967
Epoch 48/50
491/491 [==============================] - 0s 48us/step - loss: 0.4951 - accuracy: 0.8147 - val_loss: 0.5227 - val_accuracy: 0.7886
Epoch 49/50
491/491 [==============================] - 0s 47us/step - loss: 0.4903 - accuracy: 0.8147 - val_loss: 0.5186 - val_accuracy: 0.7967
Epoch 50/50
491/491 [==============================] - 0s 47us/step - loss: 0.4895 - accuracy: 0.8147 - val_loss: 0.5158 - val_accuracy: 0.8049

In [ ]:
prediction=model.predict(X_validation)

In [ ]:
prediction

array([[0.7618104 ],
       [0.56325877],
       [0.7638428 ],
       [0.70528877],
       [0.8092128 ],
       [0.64562464],
       [0.8268769 ],
       [0.7534634 ],
       [0.8018917 ],
       [0.7048726 ],
       [0.7337692 ],
       [0.69071376],
       [0.73076975],
       [0.820415  ],
       [0.66281044],
       [0.8132173 ],
       [0.637219  ],
       [0.8039637 ],
       [0.7023    ],
       [0.6347399 ],
       [0.6856583 ],
       [0.80718845],
       [0.6964394 ],
       [0.7307582 ],
       [0.75426495],
       [0.77315855],
       [0.7566459 ],
       [0.698712  ],
       [0.6329205 ],
       [0.71818626],
       [0.8191305 ],
       [0.8341757 ],
       [0.78394485],
       [0.15135878],
       [0.3009978 ],
       [0.3314131 ],
       [0.60487545],
       [0.81405187],
       [0.76239765],
       [0.85963225],
       [0.78390527],
       [0.5543648 ],
       [0.81517565],
       [0.7767601 ],
       [0.2529084 ],
       [0.83624136],
       [0.71486026],
       [0.54074746],
       [0.7539305 ],
       [0.43023536],
       [0.8147733 ],
       [0.7557454 ],
       [0.7523767 ],
       [0.8199695 ],
       [0.82881343],
       [0.49279445],
       [0.8468457 ],
       [0.7526313 ],
       [0.3096624 ],
       [0.71733147],
       [0.7115947 ],
       [0.7043257 ],
       [0.71863675],
       [0.77097315],
       [0.7536664 ],
       [0.75301164],
       [0.82627183],
       [0.51306117],
       [0.83489335],
       [0.7023909 ],
       [0.3687822 ],
       [0.755591  ],
       [0.83077407],
       [0.6697792 ],
       [0.6937528 ],
       [0.77727234],
       [0.7566241 ],
       [0.68623435],
       [0.67344975],
       [0.20083514],
       [0.82256484],
       [0.6966026 ],
       [0.8340175 ],
       [0.6905358 ],
       [0.6095266 ],
       [0.33488923],
       [0.7176757 ],
       [0.82582307],
       [0.6960189 ],
       [0.83304405],
       [0.75285333],
       [0.82271504],
       [0.8136569 ],
       [0.4259203 ],
       [0.6617602 ],
       [0.80624896],
       [0.78544044],
       [0.2296755 ],
       [0.7736188 ],
       [0.8270755 ],
       [0.8150515 ],
       [0.6779007 ],
       [0.7464532 ],
       [0.78285503],
       [0.59623855],
       [0.68089694],
       [0.84171486],
       [0.73724353],
       [0.84043956],
       [0.7583706 ],
       [0.33969492],
       [0.64189404],
       [0.7840974 ],
       [0.17412609],
       [0.21709368],
       [0.75845194],
       [0.8056364 ],
       [0.77778506],
       [0.6913673 ],
       [0.75515175],
       [0.699995  ],
       [0.2229881 ],
       [0.8504861 ]], dtype=float32)

In [ ]:
accuracy_score(Y_validation,prediction)

ValueError: ignored